<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light  text-light" style="background-color:#dedada;"   >
            <a class="navbar-brand text-light" href="#"><i class="fas fa-home"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup"> 
                <div class="navbar-nav">
                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administrador <i class="fas fa-users-cog"></i>
                    </a>
                    <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                        <a href="@Url.Action("Create", "Admi")" class="dropdown-item"> Agregar</a>
                        <a href="@Url.Action("Create", "UsuarioH")" class="dropdown-item"> Registrar Usuario</a>   
                    </div>
                   
                    <div>
                        <a href="@Url.Action("Index", "Home")" class="nav-link text-right">cerrar sesion <i class="fas fa-sign-out-alt"></i></a>
                    </div>
                    
                </div>
            </div>
        </nav>



        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Alertas  - </p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <script>
            //funcion Serializar Formularios
            (function ($) {
                $.fn.serializeFormJSON = function () {
                    var o = {};
                    var a = this.serializeArray();
                    $.each(a, function () {
                        if (o[this.name]) {
                            if (!o[this.name].push) {
                                o[this.name] = [o[this.name]];
                            }
                            o[this.name].push(this.value || '');
                        } else {
                            o[this.name] = this.value || '';
                        }
                    });
                    return o;
                };
            })(jQuery);
        </script>

        @RenderSection("scripts", required: false)
        <script src="https://kit.fontawesome.com/477b92cabc.js" crossorigin="anonymous"></script>
</body>
</html>
<!---->
















